/* ------ */
/* layout */
/* ------ */

.layout {
    background-color: var(--cor-background);
    color: var(--cor-txt);
}

.layout>div {
    min-height: calc(100vh - 2rem);
}

.layout1>div {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    //background-color: gray !important;

    @media (min-width: 576px) {
        grid-template-columns: 1fr;
        //background-color: darkgoldenrod !important;
    }

    @media (min-width: 768px) {
        grid-template-columns: 1fr;
        //background-color: green !important;
    }

    @media (min-width: 992px) {
        grid-template-columns: 4fr 8fr;
        //background-color: purple !important;
    }

    @media (min-width: 1200px) {
        grid-template-columns: 3fr 7fr;
        //background-color: darkred !important;
    }

    @media (min-width: 1400px) {
        grid-template-columns: 3fr 9fr;
        //background-color: darkblue !important;
    }

}

/* ================= */
/* 
.layout2>div {
    display: block;
}
*/

.titulo {
    font-size: min(calc(1.375rem + 1.5vw), 2.8rem);
    font-weight: 700;
    display: inline;
    font-style: normal;
    margin-bottom: 2rem;

    h2 {
        background-color: var(--cor-destaque);
        padding: 0 .1em;
        color: var(--cor-preto);
        display: inline;
    }
}


