/* ------------------------- */
/* formatação dos #quemSomos */
/* ------------------------- */
#quemSomos {

    .content {
        font-size: 1.05rem;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 0.05em;
        line-height: 1.5em;
    }
}